<!DOCTYPE html>
<html lang="en">

<head>
    <script type="module" src="/scripts/cart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cart.css">
    <title>Kosarica</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div id="content">
        <div id="kosarica">KOSARICA</div>
        <div id="proizvodi-okvir">
            <div class="proizvod">NAZIV PROIZVODA</div>
            <div class="kolicina">KOLICINA</div><hr>
            <div id="proizvodi"></div>
        </div>
    </div>
</body>

</html>