<!DOCTYPE html>
<html lang="en">

<head>
    <script type="module" src="/scripts/cart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cart.css">
    <title>Kosarica</title>
</head>

<body>
    <header>
        <a href="/home"><div id="logo"><img src="/images/logo640.png" alt="Logo sa slikom planine"></div></a>
        <div id="kategorija_head">SLOBODNO VRIJEME</div>
        <div id="cart"><a href="cart"><img src="/images/shopping-cart-icon64.png" alt="Shopping cart icon">Kosarica
                <div class="dot_sum"></div></a></div>
    </header>
    <div id="content">
        <div id="kosarica">KOSARICA</div>
        <div id="proizvodi"></div>
    </div>
</body>

</html>