<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="/scripts/index.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Labos1 - Leonardo Klisanic</title>
</head>
<body>
    <header>
        <div id="logo"><img src="/images/logo640.png" alt="Logo sa slikom planine"></div>
        <div id="kategorija_head">SLOBODNO VRIJEME</div>
        <div id="cart"><a href="cart"><img src="/images/shopping-cart-icon64.png"alt="Shopping cart icon">Kosarica<div class="dot_sum"></div></a></div>
    </header>
    <nav id="top_nav">
        <img id="hamburger" src="/images/icons8-hamburger-menu-50.png" alt="Hamburger meni">
        <ul id="nav_links">
            <% for(el of categories) { %>
                <li class="kategorija"><%= el.name %></li>
            <% } %>
        </ul>
        <div class="search">
            <img src="/images/search-icon.png" alt="ikona pretrazivanja">
        </div>
    </nav>
    <div id="sadrzaj">
        <div id="transparent">
            <img src="/images/pexels-ray-piedra-1476209.jpg" alt="Transparent slika">
            <div id="pozdrav">Dobrodosli</div>
        </div>
        <div id="proizvodi">
            <!-- Proizvodi -->
            <%  %>
        </div>
    </div>
    <footer>
        <ul>
            <li>Kontakt</li>
            <li>Newsletter</li>
            <li>Pretplati se</li>
        </ul>
    </footer>
</body>
</html>