* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Zaglavlje */
header {
    margin: 0;
    padding-left: 3vw;
    padding-right: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#kategorija_head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 500;
}

#logo {
    cursor: pointer;
}

#logo>img {
    width: 80px;
}

#cart>a {
    display: flex;
    align-items: center;
}

#cart img {
    width: 40px;
    margin: 5px;
}

#cart a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: inherit;
}

/* Crvena tockica na kosarici */
.show {
    display: block;
}
.no_show {
    display: none;
}

@media screen and (max-width: 1024px){
    #dot_sum {
        position: absolute;
        transform: translate(160%, 70%);
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 10px;
        border-radius: 50%;
        text-align: center;
        background: crimson;
        color: white;
    }

}

@media screen and (min-width: 1024px){
    #dot_sum {
        position: absolute;
        transform: translate(160%, 70%);
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        border-radius: 50%;
        text-align: center;
        background: crimson;
        color: white;
    }
}

/* Zaglavlje mobiteli */
@media screen and (max-width: 1024px) {
    header {
        margin: 0;
        padding: 0;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    
    #kategorija_head {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        font-weight: 500;
    }
    
    #logo>img {
        padding-left: 3vw;
        padding-right: 3vw;
        width: 60px;
    }
    
    #cart>a {
        display: flex;
        align-items: center;
    }
    
    #cart img {
        width: 30px;
        margin: 5px;
    }
    
    #cart a {
        padding-right: 4vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color: inherit;
    }
}

/* Navigacija mobiteli */
@media screen and (max-width: 1024px){
    nav#top_nav {
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        position: relative;
        background-color: rgb(235, 235, 235);
    }

    nav#top_nav img#hamburger {
        margin: 5px 0px 3px 0;
        padding: 0 15px 0 15px;
        position: relative;
        left: 100%;
        transform: translate(-100%, 0%);
        height: 25px;
    }

    nav>ul {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 1px solid #555;
    }
    
    nav>ul>li {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 14px 16px;
        text-align: center;
        border-bottom: 1px solid #555;
    }

    nav>ul>li:last-child {
        border-bottom: none;
    }

    .search {
        position: absolute;
        left: 15px;
        top: 8px;
        cursor: pointer;
    }

    .search>img {
        width: 20px;
    }
}

/* Navigacija tableti i srednji zasloni */
@media screen and (min-width: 1024px) {
    #top_nav img#hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: rgb(235, 235, 235);
    }
    
    nav>ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav>ul>li {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        float: left;
        padding: 14px 16px;
    }
    
    nav>ul>li:hover {
        cursor: pointer;
    }

    .search {
        position: absolute;
        left: 15px;
        top: 95px;
        cursor: pointer;
    }

    .search>img {
        width: 25px;
    }
}

/* Navigacija veliki zasloni */
@media screen and (min-width: 1500px) {
    #top_nav img#hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: rgb(235, 235, 235);
    }
    
    nav>ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav>ul>li {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        float: left;
        padding: 14px 16px;
        margin: 0 10px 0 10px;
    }
    
    nav>ul>li:hover {
        cursor: pointer;
    }

    .search {
        position: absolute;
        left: 15px;
        top: 95px;
        cursor: pointer;
    }

    .search>img {
        width: 25px;
    }
}

/* Proizvodi kontenjer */
#proizvodi {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px 10px 20px;
}
/* Proizvodi mobiteli */
@media screen and (max-width: 1024px) {
    .kartica {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        flex-basis: 50%;
        padding: 10px 10px 10px 10px;
        position: relative;
    }

    .kartica img {
        width: 100%;
        position: relative;
    }

    .kartica .ime {
        width: 75%;
    }

    .kartica .kategorija {
        width: 75%;
    }

    .cart_hov {
        position: absolute;
        z-index: 1;
        width: 30px;
        right: 0;
        bottom: 0;
        transform: translate(-50%, -25%);
    }

    .dot {
        position: absolute;
        right: 10px;
        transform: translate(-50%, -170%);
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
        background: crimson;
        color: white;
    }
}
/* Proizvodi veliki zasloni */
@media screen and (min-width: 1024px){
    .kartica {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        flex-basis: 25%;
        padding: 10px 10px 10px 10px;
        position: relative;
    }

    .kartica img {
        width: 100%;
        position: relative;
    }

    .cart_hov {
        opacity: 0;
        transition: cubic-bezier(1, 0, 0, 1) 0.2s;
        position: absolute;
        z-index: 1;
        width: 40px;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }

    .kartica img:hover ~ .cart_hov, .cart_hov:hover {
        position: absolute;
        z-index: 1;
        width: 40px;
        margin: 10px 10px 10px 10px;
        opacity: 100;
    }

    .dot {
        position: absolute;
        right: 10px;
        transform: translate(-50%, -170%);
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
        border-radius: 50%;
        text-align: center;
        background: crimson;
        color: white;
    }
}

/* Transparent */
#transparent {
    position: relative;
}

#transparent>img {
    opacity: 75%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#pozdrav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-size: xx-large;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

footer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer>ul>li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    float: left;
    margin: 0 10px 0 10px;
    padding: 14px 16px;
}

footer>ul>li:hover {
    cursor: pointer;
}