* {
    margin: 0;
    padding: 0;
}

/* Zaglavlje */
header {
    margin: 0;
    padding-left: 3vw;
    padding-right: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#kategorija_head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 500;
}

#logo>img {
    width: 80px;
}

#cart>a {
    display: flex;
    align-items: center;
}

#cart img {
    width: 40px;
    margin: 5px;
}

#cart a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: inherit;
}

/* Zaglavlje mobiteli */
@media screen and (max-width: 1024px) {
    header {
        margin: 0;
        padding: 0;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    #kategorija {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: xx-large;
        font-weight: 500;
    }
    
    #logo>img {
        padding-left: 3vw;
        padding-right: 3vw;
        width: 60px;
    }
    
    #cart>a {
        display: flex;
        align-items: center;
    }
    
    #cart img {
        width: 30px;
        margin: 5px;
    }
    
    #cart a {
        padding-right: 4vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (min-width: 1024px) {
    
}

/* Navigacija mobiteli */
@media screen and (max-width: 1024px){
    nav#top_nav {
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        position: relative;
        background-color: rgb(235, 235, 235);
    }

    nav#top_nav img#hamburger {
        margin: 3px 0 3px 0;
        padding: 0 10px 0 10px;
        position: relative;
        left: 100%;
        transform: translate(-100%, 0%);
        width: 30px;
        height: 30px;
    }

    nav>ul {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 1px solid #555;
    }
    
    nav>ul>li {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 14px 16px;
        text-align: center;
        border-bottom: 1px solid #555;
    }

    nav>ul>li:last-child {
        border-bottom: none;
    }
    
    nav>ul>li:hover {
        cursor: pointer;
    }
}

/* Navigacija tableti i srednji zasloni */
@media screen and (min-width: 1024px) {
    #top_nav img#hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: rgb(235, 235, 235);
    }
    
    nav>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav>ul>li {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        float: left;
        padding: 14px 16px;
    }
    
    nav>ul>li:hover {
        cursor: pointer;
    }
}

/* Navigacija veliki zasloni */
@media screen and (min-width: 1500px) {
    #top_nav img#hamburger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: rgb(235, 235, 235);
    }
    
    nav>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav>ul>li {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        float: left;
        padding: 14px 16px;
        margin: 0 10px 0 10px;
    }
    
    nav>ul>li:hover {
        cursor: pointer;
    }
}


/* Transparent */
#transparent {
    position: relative;
}

#transparent>img {
    opacity: 80%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#pozdrav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-size: xx-large;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Proizvodi */
#proizvodi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    
    align-content: flex-start;
    padding: 0 10px 0 10px;
}

.kartica {
    background-color: aliceblue;
    margin: 5px 5px 5px 5px;
    padding: 3px 3px 3px 3px;
}

.kartica img {
    width: 10%;
}

.kartica .ime {
    display: block;
    width: 10px;
}
.kartica .kategorija {
    display: block;
    width: 10px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

footer>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer>ul>li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    float: left;
    margin: 0 10px 0 10px;
    padding: 14px 16px;
}

footer>ul>li:hover {
    cursor: pointer;
}